p {
    color: white;
    margin-bottom: 0 !important;
}

.channelItem {
    text-align: left;
    padding: 0.25rem 2rem 0.25rem 2rem;
    text-overflow: ellipsis;
}

.channelItem:hover {
    background-color: rgb(42, 7, 53);
    cursor: pointer;
}

.reply:hover {
    cursor: pointer;
}

.selectedChannelItem {
    background-color: rgb(35, 88, 149) !important;
}
